In [1]:
numbers = [1,2,3,4,5]

In [3]:
for i in numbers:
    print (i)

1
2
3
4
5

In [4]:
for i in numbers:
    print ("Something important")

Something important
Something important
Something important
Something important
Something important

In [5]:
4%2

0

In [6]:
5%1

0

In [7]:
5%3

2

In [4]:
numbers = [1,2,3,4,5]

In [5]:
for i in numbers:
    if i%2 == 0:
        print (i)
    elif i%2 == 1:
        print ("%s is an Odd Number"%i)

1 is an Odd Number
2
3 is an Odd Number
4
5 is an Odd Number

In [17]:
summation = 0

for value in numbers:
    summation = summation + value
    
print (summation)

15

In [20]:
s = "Hello World"
for i in s:
    print (i)

H
e
l
l
o

W
o
r
l
d

In [21]:
t = (1,2,3,4,5)
for i in t:
    print(i)

1
2
3
4
5

In [22]:
tuple =('H','B','A')
for i in tuple:
    print (i)

H
B
A

In [23]:
list = [(2,4), (6,8),(10,12)]

In [24]:
list

[(2, 4), (6, 8), (10, 12)]

In [25]:
list[0][1]

4

In [29]:
list
for i in list[0]:
    print (i)

2
4

In [30]:
for i in list:
    print(i
         )

(2, 4)
(6, 8)
(10, 12)

In [32]:
for (t1,t2) in list:
    print(t1)

2
6
10

In [37]:
for (t1,t2) in list:
    print(t2+t1+t2)

10
22
34

In [38]:
d ={'k1':1,'k2':2,'k3':3}

In [39]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [41]:
for i in d:
    print (i)

k1
k2
k3

In [42]:
for k,v in d.items():
    print (k)

k1
k2
k3

In [43]:
for k,v in d.items():
    print(v)

1
2
3

In [8]:
list = [1,2,3,4,5,6,7]
list_sum = 0
for num in list:
    list_sum += num

In [9]:
list_sum

28

In [10]:
s = "Harshit Bhattaram"

In [11]:
for item in s:
    print(item)

H
a
r
s
h
i
t

B
h
a
t
t
a
r
a
m

In [12]:
tupple = (1,2,3,4,5)

In [13]:
for item in tupple:
    print(item)

1
2
3
4
5

In [14]:
l = [(1,2),(3,4),(5,6)]

In [15]:
l

[(1, 2), (3, 4), (5, 6)]

In [16]:
for tup in l:
    print(tup)

(1, 2)
(3, 4)
(5, 6)

In [17]:
for (t1,t2) in l:
    print(t1)

1
3
5

In [18]:
for (t1,t2) in l:
    print(t2)

2
4
6

In [19]:
d ={"k1":1,"k2":2,"k3":3}

In [20]:
for k,v in d.items():
    print(k)

k1
k2
k3

In [21]:
for k,v in d.items():
    print(v)

1
2
3